/.coverage
/.directory
/.pytest_cache/
/MANIFEST
/build/
/dist/
/htmlcov/
/kernel/*.cmd
/kernel/*.ko
/kernel/*.mod*
/kernel/*.o
/kernel/Module.symvers
/kernel/modules.order
/node_modules/
/yarn-error.log
