*.log
*~
.*_cache/
.coverage
.cspellcache
.directory
.pnp.*
/.yarn/install-state.gz
/dist/
/docs/_build/
/man/_static/
__pycache__/
htmlcov/
kernel/*.cmd
kernel/*.ko
kernel/*.mod*
kernel/*.o
kernel/Module.symvers
kernel/modules.order
node_modules/
